
/* Desktop Layout */


.content {
  margin-left: 40%;
  margin-top: 1.5%;
  width: 240px;
  height: 220px;
  border-radius: 10px;
  background-color: orange;
  box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
  scale: 268%;
  margin-top: 50px;
  scale: 130%;
}

@media only screen and (min-width:768px){
  /* html, body{
    /* display: flexbox;
    transform: scale(50%);
    transform-origin: top left; 
    min-width: 200%;
    overflow-y: hidden; 
    overflow-x: hidden;  */
    .newNextAndPreviousButtons{
      display: inline-flex;
      position: absolute;
      margin-top: 4%;
      margin-left: 37%;
    }
  
    .content{
      margin-left: 40%;
      margin-top: 1.5%;
      width: 240px;
      height: 220px;
      border-radius: 10px;
      background-color: orange;
      box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
      scale: 268%;
      margin-top: 500px;
    }
   } 

  

   @media only screen and (min-width:50px) and (max-width:500px){
     
  
      .content{
        margin-left: 40%;
        margin-top: 1.5%;
        width: 240px;
        height: 220px;
        border-radius: 10px;
        background-color: orange;
        box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
        scale: 268%;
        margin-top: 500px;
      }

    }

  @media only screen and (min-width:1000px){
    .content {
      margin-left: 40%;
      margin-top: 1.5%;
      width: 240px;
      height: 220px;
      border-radius: 10px;
      background-color: orange;
      box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
      scale: 268%;
      margin-top: 50px;
      scale: 130%;
  }
    }

    
   


    

    @media only screen and (min-width:1700px){
    
      .content{
        margin-left: 40%;
        margin-top: 1.5%;
        width: 240px;
        height: 220px;
        border-radius: 10px;
        background-color: orange;
        box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
        scale: 268%;
        margin-top: 500px;
      }

}     
  
      @media only screen and (min-width:1900px){
        .content{
          margin-left: 40%;
          margin-top: 1.5%;
          width: 240px;
          height: 220px;
          border-radius: 10px;
          background-color: orange;
          box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
          scale: 268%;
          margin-top: 500px;
        }


}



@media (min-width: 458px) and (max-width: 550px) {
     
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }
}

@media (min-width: 550px) and (max-width: 600px) {
  
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }


}

@media (min-width: 600px) and (max-width: 650px) {
  
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }
  
  }

  @media (min-width: 650px) and (max-width: 700px) {
  
    .content{
      margin-left: 40%;
      margin-top: 1.5%;
      width: 240px;
      height: 220px;
      border-radius: 10px;
      background-color: orange;
      box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
      scale: 268%;
      margin-top: 500px;
    }
    
    }

    @media (min-width: 700px) and (max-width: 850px) {
  
      .content{
        margin-left: 40%;
        margin-top: 1.5%;
        width: 240px;
        height: 220px;
        border-radius: 10px;
        background-color: orange;
        box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
        scale: 268%;
        margin-top: 500px;
      }
      
      }
    
      @media (min-width: 850px) and (max-width: 900px) {
  
        .content{
          margin-left: 40%;
          margin-top: 1.5%;
          width: 240px;
          height: 220px;
          border-radius: 10px;
          background-color: orange;
          box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
          scale: 268%;
          margin-top: 500px;
        }
        
        }

        @media (min-width: 900px) and (max-width: 1000px) {
  
          .content{
            margin-left: 40%;
            margin-top: 1.5%;
            width: 240px;
            height: 220px;
            border-radius: 10px;
            background-color: orange;
            box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
            scale: 268%;
            margin-top: 500px;
          }
          }
      

        @media (min-width: 1000px) and (max-width: 1100px) {
          .content {
            margin-left: 40%;
            margin-top: 1.5%;
            width: 240px;
            height: 220px;
            border-radius: 10px;
            background-color: orange;
            box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
            scale: 268%;
            margin-top: 50px;
            scale: 130%;
        }
          }
        
     
          @media (min-width: 1100px) and (max-width: 1200px) {
  
  
            .content{
              margin-left: 40%;
              margin-top: 1.5%;
              width: 240px;
              height: 220px;
              border-radius: 10px;
              background-color: orange;
              box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
              scale: 268%;
              margin-top: 500px;
            }
            
            }
          
            @media (min-width: 1200px) and (max-width: 1300px) {
  
  
              .content{
                margin-left: 40%;
                margin-top: 1.5%;
                width: 240px;
                height: 220px;
                border-radius: 10px;
                background-color: orange;
                box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
                scale: 268%;
                margin-top: 500px;
              }
              
              }
            
              @media (min-width: 1300px) and (max-width: 1400px) {
  
                .content{
                  margin-left: 40%;
                  margin-top: 1.5%;
                  width: 240px;
                  height: 220px;
                  border-radius: 10px;
                  background-color: orange;
                  box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
                  scale: 268%;
                  margin-top: 500px;
                }
                }

                @media (min-width: 1400px) and (max-width: 1500px) {
  
  
                  .content{
                    margin-left: 40%;
                    margin-top: 1.5%;
                    width: 240px;
                    height: 220px;
                    border-radius: 10px;
                    background-color: orange;
                    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
                    scale: 268%;
                    margin-top: 500px;
                  }
                  }
  

        
 @media (min-width: 427px) and (max-width: 429px) {
  
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }

      }

        @media only screen and (min-width:2048px){
          html, body{
            display: flexbox;
            transform: scale(58%);
            transform-origin: top left; 
            min-width: 200%;
            overflow-y: hidden; 
            overflow-x: hidden; 
            touch-action: none; /* Prevent any swipe gestures */
            overscroll-behavior: none; /* Prevent pull-to-refresh and overscrolling */
           }


           .Certification {
            width: 2300px;
            height: 675px;
            font-size: 85px;
            overflow: hidden;
            margin-left: 15%;
            margin-top: 14.5%;
            position: absolute;
            opacity: 0.7;
            z-index: 3;
            color: white;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.8);
        }
        
    
          .labelForCertification {
            position: absolute;
            margin-left: 15%;
            margin-top: 12.55%;
            font-size: 100px;
            font-style: normal;
            color: white;
            opacity: 0.9;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.6);
            z-index: 3;
        }
    
        .labelForOther {
          position: absolute;
          margin-left: 15%;
          margin-top: 23.3%;
          font-size: 100px;
          font-style: normal;
          color: white;
          opacity: 0.9;
          background: rgb(25,21,20);
          background: rgba(0, 0, 0, 0.8);
          z-index: 3;
      }
      
      .OtherExpirience {
        width: 2300px;
        height: 580px;
        font-size: 90px;
        margin-left: 15%;
        margin-top: 25.1%;
        position: absolute;
        opacity: 0.75;
        overflow: hidden;
        z-index: 3;
        color: white;
        background: rgb(30,21,20);
        background: rgba(0, 0, 0, 0.9);
      }
    
    
      
          .labelForExpirience {
            position: absolute;
            margin-left: 15%;
            margin-top: 4.5%;
            font-size: 100px;
            font-style: normal;
            color: white;
            opacity: 0.9;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.8);
            z-index: 3;
        }
    
        .Expirience {
          width: 2300px;
          height: 500px;
          font-size: 85px;   
          overflow: hidden;
          margin-left: 15%;
          margin-top: 500px;
          position: absolute;
          opacity: 0.75;
          z-index: 3;
          color: white;
          background: rgb(25,21,20);
          background: rgba(0, 0, 0, 0.6);
        }


           .ContactMeForm {
            width: 2300px;
            height: 1400px;
            font-size: 85px;
            overflow: hidden;
            margin-left: 15%;
            margin-top: 15.9%;
            position: absolute;
            opacity: 0.75;
            overflow: hidden;
            z-index: 3;
            color: white;
            background: rgb(30,21,20);
            background: rgba(0, 0, 0, 0.9);
        }
          
          .LabelForContactMeForm {
            position: absolute;
            margin-left: 15%;
            margin-top: 14.1%;
            font-size: 100px;
            font-style: normal;
            color: white;
            opacity: 0.9;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.8);
            z-index: 3;
        }
          
          .ContactMeOnContacMe {
            width: 2300px;
            height: 680px;
            font-size: 90px;
            margin-left: 15%;
            margin-top: 6.2%;
            position: absolute;
            opacity: 0.75;
            overflow: hidden;
            z-index: 3;
            color: white;
            background: rgb(30,21,20);
            background: rgba(0, 0, 0, 0.9);
        }
      
          .contentLeftSide {
            display: inline-flex;
            width: 47.5%;
            height: 3.7%;
            margin-top: 0.02%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.5);
            bottom: 0;
            color: #f1f1f1;
            padding: 100px;
            text-align: left;
            overflow: hidden;
        }
           
      
          .labelForHobbies {
            position: absolute;
            margin-left: 15%;
            margin-top: 16%;
            font-size: 100px;
            font-style: normal;
            color: white;
            opacity: 0.9;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.8);
            z-index: 3;
        }
      
        .Introduction {
          width: 2300px;
          height: 785px;
          font-size: 90px;
          margin-left: 15%;
          margin-top: 6%;
          position: absolute;
          opacity: 0.75;
          overflow: hidden;
          z-index: 3;
          color: white;
          background: rgb(30,21,20);
          background: rgba(0, 0, 0, 0.9);
      }
      
      .labelForIntro {
        position: absolute;
        margin-left: 25%;
        margin-top: 4.2%;
        font-size: 100px;
        font-style: normal;
        color: white;
        opacity: 0.9;
        background: rgb(25,21,20);
        background: rgba(0, 0, 0, 0.8);
        z-index: 3;
      }
      
      .Hobbies {
        width: 2300px;
        height: 550px;
        font-size: 85px;
        overflow: hidden;
        margin-left: 15%;
        margin-top: 17.7%;
        position: absolute;
        opacity: 0.75;
        z-index: 3;
        color: white;
        background: rgb(25,21,20);
        background: rgba(0, 0, 0, 0.6);
      }
      
      .labelForTechnologies {
        position: absolute;
        margin-left: 15%;
        margin-top: 40.7%;
        font-size: 100px;
        font-style: normal;
        color: white;
        opacity: 0.9;
        background: rgb(25,21,20);
        background: rgba(0, 0, 0, 0.8);
        z-index: 3;
      }
      
      .Technologies {
        width: 2300px;
        height: 520px;
        font-size: 90px;
        margin-left: 15%;
        margin-top: 26.4%;
        position: absolute;
        opacity: 0.75;
        overflow: hidden;
        z-index: 3;
        color: white;
        background: rgb(30,21,20);
        background: rgba(0, 0, 0, 0.9);
      }
      
      .audioContainer {
        position: absolute;
        float: left;
        margin-left: 80px;
        margin-top: 24.5%;
        width: 875px;
        height: 715px;
        background: rgb(25,21,20);
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 40px 100px rgba(255,255,255, 0.01);
        overflow: hidden;
        color: #d5eebb;
        margin-bottom: 1200px;
        border-radius: 0.1%;
        z-index: 2;
        border-radius: 10%;
      }
      
      .labelForContactMe {
        position: absolute;
        margin-left: 15%;
        margin-top: 4.3%;
        font-size: 100px;
        font-style: normal;
        color: white;
        opacity: 0.9;
        background: rgb(25,21,20);
        background: rgba(0, 0, 0, 0.8);
        z-index: 3;
      } 
          }
        
          @media only screen and (min-width:2304px){
            html, body{
              display: flexbox;
              transform: scale(62%);
              transform-origin: top left; 
              min-width: 200%;
              overflow-y: hidden; 
              overflow-x: hidden; 
              touch-action: none; /* Prevent any swipe gestures */
              overscroll-behavior: none; /* Prevent pull-to-refresh and overscrolling */
             } 

             .Certification {
              width: 2300px;
              height: 675px;
              font-size: 85px;
              overflow: hidden;
              margin-left: 13.5%;
              margin-top: 12.85%;
              position: absolute;
              opacity: 0.7;
              z-index: 3;
              color: white;
              background: rgb(25,21,20);
              background: rgba(0, 0, 0, 0.8);
          }
          
      
            .labelForCertification {
              position: absolute;
              margin-left: 13.5%;
              margin-top: 11.25%;
              font-size: 100px;
              font-style: normal;
              color: white;
              opacity: 0.9;
              background: rgb(25,21,20);
              background: rgba(0, 0, 0, 0.6);
              z-index: 3;
          }
      
          .labelForOther {
            position: absolute;
            margin-left: 13.5%;
            margin-top: 20.5%;
            font-size: 100px;
            font-style: normal;
            color: white;
            opacity: 0.9;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.8);
            z-index: 3;
        }
        
        .OtherExpirience {
          width: 2300px;
          height: 580px;
          font-size: 90px;
          margin-left: 13.5%;
          margin-top: 22.1%;
          position: absolute;
          opacity: 0.75;
          overflow: hidden;
          z-index: 3;
          color: white;
          background: rgb(30,21,20);
          background: rgba(0, 0, 0, 0.9);
        }
      
      
        
            .labelForExpirience {
              position: absolute;
              margin-left: 13.5%;
              margin-top: 3.85%;
              font-size: 100px;
              font-style: normal;
              color: white;
              opacity: 0.9;
              background: rgb(25,21,20);
              background: rgba(0, 0, 0, 0.8);
              z-index: 3;
          }
      
          .Expirience {
            width: 2300px;
            height: 500px;
            font-size: 85px;   
            overflow: hidden;
            margin-left: 13.5%;
            margin-top: 500px;
            position: absolute;
            opacity: 0.75;
            z-index: 3;
            color: white;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.6);
          }
  
  
             .ContactMeForm {
              width: 2300px;
              height: 1400px;
              font-size: 85px;
              overflow: hidden;
              margin-left: 13.5%;
              margin-top: 14.9%;
              position: absolute;
              opacity: 0.75;
              overflow: hidden;
              z-index: 3;
              color: white;
              background: rgb(30,21,20);
              background: rgba(0, 0, 0, 0.9);
          }
            
            .LabelForContactMeForm {
              position: absolute;
              margin-left: 13.5%;
              margin-top: 13.1%;
              font-size: 100px;
              font-style: normal;
              color: white;
              opacity: 0.9;
              background: rgb(25,21,20);
              background: rgba(0, 0, 0, 0.8);
              z-index: 3;
          }
            
            .ContactMeOnContacMe {
              width: 2300px;
              height: 680px;
              font-size: 90px;
              margin-left: 13.5%;
              margin-top: 5.3%;
              position: absolute;
              opacity: 0.75;
              overflow: hidden;
              z-index: 3;
              color: white;
              background: rgb(30,21,20);
              background: rgba(0, 0, 0, 0.9);
          }
        
            .contentLeftSide {
              display: inline-flex;
              width: 42.3%;
              height: 3.7%;
              margin-top: 0.02%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              background: rgb(25,21,20);
              background: rgba(0, 0, 0, 0.5);
              bottom: 0;
              color: #f1f1f1;
              padding: 100px;
              text-align: left;
              overflow: hidden;
          }
             
        
            .labelForHobbies {
              position: absolute;
              margin-left: 13.3%;
              margin-top: 14.1%;
              font-size: 100px;
              font-style: normal;
              color: white;
              opacity: 0.9;
              background: rgb(25,21,20);
              background: rgba(0, 0, 0, 0.8);
              z-index: 3;
          }
        
          .Introduction {
            width: 2300px;
            height: 785px;
            font-size: 90px;
            margin-left: 13.3%;
            margin-top: 5.3%;
            position: absolute;
            opacity: 0.75;
            overflow: hidden;
            z-index: 3;
            color: white;
            background: rgb(30,21,20);
            background: rgba(0, 0, 0, 0.9);
        }
        
        .labelForIntro {
          position: absolute;
          margin-left: 13.3%;
          margin-top: 3.8%;
          font-size: 100px;
          font-style: normal;
          color: white;
          opacity: 0.9;
          background: rgb(25,21,20);
          background: rgba(0, 0, 0, 0.8);
          z-index: 3;
        }
        
        .Hobbies {
          width: 2300px;
          height: 550px;
          font-size: 85px;
          overflow: hidden;
          margin-left: 13.3%;
          margin-top: 15.7%;
          position: absolute;
          opacity: 0.75;
          z-index: 3;
          color: white;
          background: rgb(25,21,20);
          background: rgba(0, 0, 0, 0.6);
        }
        
        .labelForTechnologies {
          position: absolute;
          margin-left: 13.3%;
          margin-top: 22%;
          font-size: 100px;
          font-style: normal;
          color: white;
          opacity: 0.9;
          background: rgb(25,21,20);
          background: rgba(0, 0, 0, 0.8);
          z-index: 3;
        }
        
        .Technologies {
          width: 2300px;
          height: 520px;
          font-size: 90px;
          margin-left: 13.3%;
          margin-top: 23.5%;
          position: absolute;
          opacity: 0.75;
          overflow: hidden;
          z-index: 3;
          color: white;
          background: rgb(30,21,20);
          background: rgba(0, 0, 0, 0.9);
        }
        
        .audioContainer {
          position: absolute;
          float: left;
          margin-left: 80px;
          margin-top: 22%;
          width: 875px;
          height: 715px;
          background: rgb(25,21,20);
          background: rgba(0, 0, 0, 0.5);
          box-shadow: 0 40px 100px rgba(255,255,255, 0.01);
          overflow: hidden;
          color: #d5eebb;
          margin-bottom: 1200px;
          border-radius: 0.1%;
          z-index: 2;
          border-radius: 10%;
        }
        
        .labelForContactMe {
          position: absolute;
          margin-left: 13.5%;
          margin-top: 3.7%;
          font-size: 100px;
          font-style: normal;
          color: white;
          opacity: 0.9;
          background: rgb(25,21,20);
          background: rgba(0, 0, 0, 0.8);
          z-index: 3;
        }

            }

            @media only screen and (min-width:3072px){
              html, body{
                display: flexbox;
                transform: scale(71%);
                transform-origin: top left; 
                min-width: 200%;
                overflow-y: hidden; 
                overflow-x: hidden; 
                touch-action: none; /* Prevent any swipe gestures */
                overscroll-behavior: none; /* Prevent pull-to-refresh and overscrolling */
               } 
               
               .Certification {
                width: 2300px;
                height: 675px;
                font-size: 85px;
                overflow: hidden;
                margin-left: 16%;
                margin-top: 15.3%;
                position: absolute;
                opacity: 0.7;
                z-index: 3;
                color: white;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.8);
            }
            
        
              .labelForCertification {
                position: absolute;
                margin-left: 16%;
                margin-top: 13.45%;
                font-size: 100px;
                font-style: normal;
                color: white;
                opacity: 0.9;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.6);
                z-index: 3;
            }
        
        
        
          
              .labelForExpirience {
                position: absolute;
                margin-left: 16%;
                margin-top: 4.5%;
                font-size: 100px;
                font-style: normal;
                color: white;
                opacity: 0.9;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.8);
                z-index: 3;
            }
        
            .Expirience {
              width: 2300px;
              height: 500px;
              font-size: 85px;   
              overflow: hidden;
              margin-left: 16%;
              margin-top: 500px;
              position: absolute;
              opacity: 0.75;
              z-index: 3;
              color: white;
              background: rgb(25,21,20);
              background: rgba(0, 0, 0, 0.6);
            }
        
            .labelForOther {
              position: absolute;
              margin-left: 16%;
              margin-top: 24.3%;
              font-size: 100px;
              font-style: normal;
              color: white;
              opacity: 0.9;
              background: rgb(25,21,20);
              background: rgba(0, 0, 0, 0.8);
              z-index: 3;
          }
          
          .OtherExpirience {
            width: 2300px;
            height: 580px;
            font-size: 90px;
            margin-left: 16%;
            margin-top: 26%;
            position: absolute;
            opacity: 0.75;
            overflow: hidden;
            z-index: 3;
            color: white;
            background: rgb(30,21,20);
            background: rgba(0, 0, 0, 0.9);
          }
        
              .ContactMeForm {
                width: 2300px;
                height: 1400px;
                font-size: 85px;
                overflow: hidden;
                margin-left: 16%;
                margin-top: 17.6%;
                position: absolute;
                opacity: 0.75;
                overflow: hidden;
                z-index: 3;
                color: white;
                background: rgb(30,21,20);
                background: rgba(0, 0, 0, 0.9);
            }
              
              .LabelForContactMeForm {
                position: absolute;
                margin-left: 16%;
                margin-top: 15.7%;
                font-size: 100px;
                font-style: normal;
                color: white;
                opacity: 0.9;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.8);
                z-index: 3;
            }
              
              .ContactMeOnContacMe {
                width: 2300px;
                height: 680px;
                font-size: 90px;
                margin-left: 16%;
                margin-top: 6.5%;
                position: absolute;
                opacity: 0.75;
                overflow: hidden;
                z-index: 3;
                color: white;
                background: rgb(30,21,20);
                background: rgba(0, 0, 0, 0.9);
            }
          
              .contentLeftSide {
                display: inline-flex;
                width: 50.7%;
                height: 3.7%;
                margin-top: 0.02%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.5);
                bottom: 0;
                color: #f1f1f1;
                padding: 100px;
                text-align: left;
                overflow: hidden;
            }
               
          
              .labelForHobbies {
                position: absolute;
                margin-left: 18%;
                margin-top: 19.1%;
                font-size: 100px;
                font-style: normal;
                color: white;
                opacity: 0.9;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.8);
                z-index: 3;
            }
          
            .Introduction {
              width: 2300px;
              height: 785px;
              font-size: 90px;
              margin-left: 16%;
              margin-top: 6.5%;
              position: absolute;
              opacity: 0.75;
              overflow: hidden;
              z-index: 3;
              color: white;
              background: rgb(30,21,20);
              background: rgba(0, 0, 0, 0.9);
          }
            
          
          .labelForHobbies {
            position: absolute;
            margin-left: 16%;
            margin-top: 17.1%;
            font-size: 100px;
            font-style: normal;
            color: white;
            opacity: 0.9;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.8);
            z-index: 3;
          }
          
          
          
          .labelForIntro {
            position: absolute;
            margin-left: 16%;
            margin-top: 4.6%;
            font-size: 100px;
            font-style: normal;
            color: white;
            opacity: 0.9;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.8);
            z-index: 3;
          }
          
          .Hobbies {
            width: 2300px;
            height: 550px;
            font-size: 85px;
            overflow: hidden;
            margin-left: 16%;
            margin-top: 19%;
            position: absolute;
            opacity: 0.75;
            z-index: 3;
            color: white;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.6);
          }
          
          .labelForTechnologies {
            position: absolute;
            margin-left: 16%;
            margin-top: 26.5%;
            font-size: 100px;
            font-style: normal;
            color: white;
            opacity: 0.9;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.8);
            z-index: 3;
          }
          
          .Technologies {
            width: 2300px;
            height: 520px;
            font-size: 90px;
            margin-left: 12%;
            margin-top: 28.4%;
            position: absolute;
            opacity: 0.75;
            overflow: hidden;
            z-index: 3;
            color: white;
            background: rgb(30,21,20);
            background: rgba(0, 0, 0, 0.9);
          }
          
          .audioContainer {
            position: absolute;
            float: left;
            margin-left: 80px;
            margin-top: 26.5%;
            width: 875px;
            height: 715px;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.5);
            box-shadow: 0 40px 100px rgba(255,255,255, 0.01);
            overflow: hidden;
            color: #d5eebb;
            margin-bottom: 1200px;
            border-radius: 0.1%;
            z-index: 2;
            border-radius: 10%;
          }
          
          .labelForContactMe {
            position: absolute;
            margin-left: 16%;
            margin-top: 4.5%;
            font-size: 100px;
            font-style: normal;
            color: white;
            opacity: 0.9;
            background: rgb(25,21,20);
            background: rgba(0, 0, 0, 0.8);
            z-index: 3;
          }
          
                }
        
                @media only screen and (min-width:2048px){
                  html, body{
                    display: flexbox;
                    transform: scale(58%);
                    transform-origin: top left; 
                    min-width: 200%;
                    overflow-y: hidden; 
                    overflow-x: hidden; 
                    touch-action: none; /* Prevent any swipe gestures */
                    overscroll-behavior: none; /* Prevent pull-to-refresh and overscrolling */
                   }
        
        
                   .Certification {
                    width: 2300px;
                    height: 675px;
                    font-size: 85px;
                    overflow: hidden;
                    margin-left: 15%;
                    margin-top: 14.5%;
                    position: absolute;
                    opacity: 0.7;
                    z-index: 3;
                    color: white;
                    background: rgb(25,21,20);
                    background: rgba(0, 0, 0, 0.8);
                }
                
            
                  .labelForCertification {
                    position: absolute;
                    margin-left: 15%;
                    margin-top: 12.55%;
                    font-size: 100px;
                    font-style: normal;
                    color: white;
                    opacity: 0.9;
                    background: rgb(25,21,20);
                    background: rgba(0, 0, 0, 0.6);
                    z-index: 3;
                }
            
                .labelForOther {
                  position: absolute;
                  margin-left: 15%;
                  margin-top: 23.3%;
                  font-size: 100px;
                  font-style: normal;
                  color: white;
                  opacity: 0.9;
                  background: rgb(25,21,20);
                  background: rgba(0, 0, 0, 0.8);
                  z-index: 3;
              }
              
              .OtherExpirience {
                width: 2300px;
                height: 580px;
                font-size: 90px;
                margin-left: 15%;
                margin-top: 25.1%;
                position: absolute;
                opacity: 0.75;
                overflow: hidden;
                z-index: 3;
                color: white;
                background: rgb(30,21,20);
                background: rgba(0, 0, 0, 0.9);
              }
            
            
              
                  .labelForExpirience {
                    position: absolute;
                    margin-left: 15%;
                    margin-top: 4.5%;
                    font-size: 100px;
                    font-style: normal;
                    color: white;
                    opacity: 0.9;
                    background: rgb(25,21,20);
                    background: rgba(0, 0, 0, 0.8);
                    z-index: 3;
                }
            
                .Expirience {
                  width: 2300px;
                  height: 500px;
                  font-size: 85px;   
                  overflow: hidden;
                  margin-left: 15%;
                  margin-top: 500px;
                  position: absolute;
                  opacity: 0.75;
                  z-index: 3;
                  color: white;
                  background: rgb(25,21,20);
                  background: rgba(0, 0, 0, 0.6);
                }
        
        
                   .ContactMeForm {
                    width: 2300px;
                    height: 1400px;
                    font-size: 85px;
                    overflow: hidden;
                    margin-left: 15%;
                    margin-top: 15.9%;
                    position: absolute;
                    opacity: 0.75;
                    overflow: hidden;
                    z-index: 3;
                    color: white;
                    background: rgb(30,21,20);
                    background: rgba(0, 0, 0, 0.9);
                }
                  
                  .LabelForContactMeForm {
                    position: absolute;
                    margin-left: 15%;
                    margin-top: 14.1%;
                    font-size: 100px;
                    font-style: normal;
                    color: white;
                    opacity: 0.9;
                    background: rgb(25,21,20);
                    background: rgba(0, 0, 0, 0.8);
                    z-index: 3;
                }
                  
                  .ContactMeOnContacMe {
                    width: 2300px;
                    height: 680px;
                    font-size: 90px;
                    margin-left: 15%;
                    margin-top: 6.2%;
                    position: absolute;
                    opacity: 0.75;
                    overflow: hidden;
                    z-index: 3;
                    color: white;
                    background: rgb(30,21,20);
                    background: rgba(0, 0, 0, 0.9);
                }
              
                  .contentLeftSide {
                    display: inline-flex;
                    width: 47.5%;
                    height: 3.7%;
                    margin-top: 0.02%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    background: rgb(25,21,20);
                    background: rgba(0, 0, 0, 0.5);
                    bottom: 0;
                    color: #f1f1f1;
                    padding: 100px;
                    text-align: left;
                    overflow: hidden;
                }
                   
              
                  .labelForHobbies {
                    position: absolute;
                    margin-left: 15%;
                    margin-top: 16%;
                    font-size: 100px;
                    font-style: normal;
                    color: white;
                    opacity: 0.9;
                    background: rgb(25,21,20);
                    background: rgba(0, 0, 0, 0.8);
                    z-index: 3;
                }
              
                .Introduction {
                  width: 2300px;
                  height: 785px;
                  font-size: 90px;
                  margin-left: 15%;
                  margin-top: 6%;
                  position: absolute;
                  opacity: 0.75;
                  overflow: hidden;
                  z-index: 3;
                  color: white;
                  background: rgb(30,21,20);
                  background: rgba(0, 0, 0, 0.9);
              }
              
              .labelForIntro {
                position: absolute;
                margin-left: 15%;
                margin-top: 4.2%;
                font-size: 100px;
                font-style: normal;
                color: white;
                opacity: 0.9;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.8);
                z-index: 3;
              }
              
              .Hobbies {
                width: 2300px;
                height: 550px;
                font-size: 85px;
                overflow: hidden;
                margin-left: 15%;
                margin-top: 17.7%;
                position: absolute;
                opacity: 0.75;
                z-index: 3;
                color: white;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.6);
              }
              
              .labelForTechnologies {
                position: absolute;
                margin-left: 15%;
                margin-top: 24.7%;
                font-size: 100px;
                font-style: normal;
                color: white;
                opacity: 0.9;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.8);
                z-index: 3;
              }
              
              .Technologies {
                width: 2300px;
                height: 520px;
                font-size: 90px;
                margin-left: 15%;
                margin-top: 26.4%;
                position: absolute;
                opacity: 0.75;
                overflow: hidden;
                z-index: 3;
                color: white;
                background: rgb(30,21,20);
                background: rgba(0, 0, 0, 0.9);
              }
              
              .audioContainer {
                position: absolute;
                float: left;
                margin-left: 80px;
                margin-top: 24.5%;
                width: 875px;
                height: 715px;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.5);
                box-shadow: 0 40px 100px rgba(255,255,255, 0.01);
                overflow: hidden;
                color: #d5eebb;
                margin-bottom: 1200px;
                border-radius: 0.1%;
                z-index: 2;
                border-radius: 10%;
              }
              
              .labelForContactMe {
                position: absolute;
                margin-left: 15%;
                margin-top: 4.3%;
                font-size: 100px;
                font-style: normal;
                color: white;
                opacity: 0.9;
                background: rgb(25,21,20);
                background: rgba(0, 0, 0, 0.8);
                z-index: 3;
              } 
                  }
                
                  @media only screen and (min-width:2304px){
                    html, body{
                      display: flexbox;
                      transform: scale(62%);
                      transform-origin: top left; 
                      min-width: 200%;
                      overflow-y: hidden; 
                      overflow-x: hidden; 
                      touch-action: none; /* Prevent any swipe gestures */
                      overscroll-behavior: none; /* Prevent pull-to-refresh and overscrolling */
                     } 
        
                     .Certification {
                      width: 2300px;
                      height: 675px;
                      font-size: 85px;
                      overflow: hidden;
                      margin-left: 13.5%;
                      margin-top: 12.85%;
                      position: absolute;
                      opacity: 0.7;
                      z-index: 3;
                      color: white;
                      background: rgb(25,21,20);
                      background: rgba(0, 0, 0, 0.8);
                  }
                  
              
                    .labelForCertification {
                      position: absolute;
                      margin-left: 13.5%;
                      margin-top: 11.25%;
                      font-size: 100px;
                      font-style: normal;
                      color: white;
                      opacity: 0.9;
                      background: rgb(25,21,20);
                      background: rgba(0, 0, 0, 0.6);
                      z-index: 3;
                  }
              
                  .labelForOther {
                    position: absolute;
                    margin-left: 13.5%;
                    margin-top: 20.5%;
                    font-size: 100px;
                    font-style: normal;
                    color: white;
                    opacity: 0.9;
                    background: rgb(25,21,20);
                    background: rgba(0, 0, 0, 0.8);
                    z-index: 3;
                }
                
                .OtherExpirience {
                  width: 2300px;
                  height: 580px;
                  font-size: 90px;
                  margin-left: 13.5%;
                  margin-top: 22.1%;
                  position: absolute;
                  opacity: 0.75;
                  overflow: hidden;
                  z-index: 3;
                  color: white;
                  background: rgb(30,21,20);
                  background: rgba(0, 0, 0, 0.9);
                }
              
              
                
                    .labelForExpirience {
                      position: absolute;
                      margin-left: 13.5%;
                      margin-top: 3.85%;
                      font-size: 100px;
                      font-style: normal;
                      color: white;
                      opacity: 0.9;
                      background: rgb(25,21,20);
                      background: rgba(0, 0, 0, 0.8);
                      z-index: 3;
                  }
              
                  .Expirience {
                    width: 2300px;
                    height: 500px;
                    font-size: 85px;   
                    overflow: hidden;
                    margin-left: 13.5%;
                    margin-top: 500px;
                    position: absolute;
                    opacity: 0.75;
                    z-index: 3;
                    color: white;
                    background: rgb(25,21,20);
                    background: rgba(0, 0, 0, 0.6);
                  }
          
          
                     .ContactMeForm {
                      width: 2300px;
                      height: 1400px;
                      font-size: 85px;
                      overflow: hidden;
                      margin-left: 13.5%;
                      margin-top: 14.9%;
                      position: absolute;
                      opacity: 0.75;
                      overflow: hidden;
                      z-index: 3;
                      color: white;
                      background: rgb(30,21,20);
                      background: rgba(0, 0, 0, 0.9);
                  }
                    
                    .LabelForContactMeForm {
                      position: absolute;
                      margin-left: 13.5%;
                      margin-top: 13.1%;
                      font-size: 100px;
                      font-style: normal;
                      color: white;
                      opacity: 0.9;
                      background: rgb(25,21,20);
                      background: rgba(0, 0, 0, 0.8);
                      z-index: 3;
                  }
                    
                    .ContactMeOnContacMe {
                      width: 2300px;
                      height: 680px;
                      font-size: 90px;
                      margin-left: 13.5%;
                      margin-top: 5.3%;
                      position: absolute;
                      opacity: 0.75;
                      overflow: hidden;
                      z-index: 3;
                      color: white;
                      background: rgb(30,21,20);
                      background: rgba(0, 0, 0, 0.9);
                  }
                
                    .contentLeftSide {
                      display: inline-flex;
                      width: 42.3%;
                      height: 3.7%;
                      margin-top: 0.02%;
                      position: absolute;
                      top: 0;
                      left: 0;
                      z-index: 2;
                      background: rgb(25,21,20);
                      background: rgba(0, 0, 0, 0.5);
                      bottom: 0;
                      color: #f1f1f1;
                      padding: 100px;
                      text-align: left;
                      overflow: hidden;
                  }
                     
                
                    .labelForHobbies {
                      position: absolute;
                      margin-left: 13.3%;
                      margin-top: 14.1%;
                      font-size: 100px;
                      font-style: normal;
                      color: white;
                      opacity: 0.9;
                      background: rgb(25,21,20);
                      background: rgba(0, 0, 0, 0.8);
                      z-index: 3;
                  }
                
                  .Introduction {
                    width: 2300px;
                    height: 785px;
                    font-size: 90px;
                    margin-left: 13.3%;
                    margin-top: 5.3%;
                    position: absolute;
                    opacity: 0.75;
                    overflow: hidden;
                    z-index: 3;
                    color: white;
                    background: rgb(30,21,20);
                    background: rgba(0, 0, 0, 0.9);
                }
                
                .labelForIntro {
                  position: absolute;
                  margin-left: 13.3%;
                  margin-top: 3.8%;
                  font-size: 100px;
                  font-style: normal;
                  color: white;
                  opacity: 0.9;
                  background: rgb(25,21,20);
                  background: rgba(0, 0, 0, 0.8);
                  z-index: 3;
                }
                
                .Hobbies {
                  width: 2300px;
                  height: 550px;
                  font-size: 85px;
                  overflow: hidden;
                  margin-left: 13.3%;
                  margin-top: 15.7%;
                  position: absolute;
                  opacity: 0.75;
                  z-index: 3;
                  color: white;
                  background: rgb(25,21,20);
                  background: rgba(0, 0, 0, 0.6);
                }
                
                .labelForTechnologies {
                  position: absolute;
                  margin-left: 13.3%;
                  margin-top: 22%;
                  font-size: 100px;
                  font-style: normal;
                  color: white;
                  opacity: 0.9;
                  background: rgb(25,21,20);
                  background: rgba(0, 0, 0, 0.8);
                  z-index: 3;
                }
                
                .Technologies {
                  width: 2300px;
                  height: 520px;
                  font-size: 90px;
                  margin-left: 13.3%;
                  margin-top: 23.5%;
                  position: absolute;
                  opacity: 0.75;
                  overflow: hidden;
                  z-index: 3;
                  color: white;
                  background: rgb(30,21,20);
                  background: rgba(0, 0, 0, 0.9);
                }
                
                .audioContainer {
                  position: absolute;
                  float: left;
                  margin-left: 80px;
                  margin-top: 22%;
                  width: 875px;
                  height: 715px;
                  background: rgb(25,21,20);
                  background: rgba(0, 0, 0, 0.5);
                  box-shadow: 0 40px 100px rgba(255,255,255, 0.01);
                  overflow: hidden;
                  color: #d5eebb;
                  margin-bottom: 1200px;
                  border-radius: 0.1%;
                  z-index: 2;
                  border-radius: 10%;
                }
                
                .labelForContactMe {
                  position: absolute;
                  margin-left: 13.5%;
                  margin-top: 3.7%;
                  font-size: 100px;
                  font-style: normal;
                  color: white;
                  opacity: 0.9;
                  background: rgb(25,21,20);
                  background: rgba(0, 0, 0, 0.8);
                  z-index: 3;
                }
                
              }

            
/* Mobile Layout */
/* Samsung Galaxy S20 Xiaomi Mi 11i Huawei P30 */

@media only screen and (max-width:415px){

  .contentH1 {
    margin-top: 36%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}

  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 246px;
  }
 
}


/* Responsive Layout */

/* Mobile Layout */
/* Samsung Galaxy S20 Xiaomi Mi 11i Huawei P30 */
@media only screen and (max-width:393px){


  .contentH1 {
    margin-top: 13%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }

 }
 


/* Samsung Galaxy S20 Xiaomi Mi 11i Huawei P30 */
/* @media only screen and (min-width: 800 and max-width:851px){

  .Introduction{
    width: 1435px;
    height: 800px;
    font-size: 90px;
    margin-left: 3%;
    margin-top: 31%;
    position: absolute;
    opacity: 0.75;
    overflow: hidden;
    z-index: 3;
    color: white;
    background: rgb(30,21,20); 
    background: rgba(0, 0, 0, 0.9);
  }
} */

/* @media screen and (max-width: 992px) {
  body {
    background-color: blue;
    color: white;
    z-index: 500;
  }
} */

/* On screens that are 600px wide or less, the background color is olive */
/* @media only screen and (max-width: 768px) {
  background-color: olive;
} */



/* Media Queries: Tabled Portrait */
/* @media screen and (max-width: 768px) {
  .HomePageLeft { width:100%; }
  .HomePageRight { width:100%; margin:0; border:none; }
} */

img { max-width: 100%; height: auto; }


/* 
 @media (max-device-width:1200px) {
  .HomePageRight{
    display: none;
  }
}  */


/* @media (min-device-width:1200px) {
  .HomePageRight{
    display: flex;
  }
}  */
/* 
@media (max-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
} */



/* Responsive Layout */

/* Mobile Layout */
/* Samsung Galaxy S20 Xiaomi Mi 11i Huawei P30 */
@media only screen and (max-width:360px){

  .contentH1 {
    margin-top: 13%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}

  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }

}

 /* Apple and smartphones */


 @media (min-width: 374px) and (max-width: 376px) {

  .contentH1 {
    margin-top: 13%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}


  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }   

 }

 @media only screen and (max-width: 393px){

  .contentH1 {
    margin-top: 37%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}


  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 246px;
  }


 }


@media (min-width: 315px) and (max-width: 325px) {

  .contentH1 {
    margin-top: 13%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}
 
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }

}
 
 
 /* Samsung Galaxy S20 Xiaomi Mi 11i Huawei P30 */
 /* @media only screen and (min-width: 800 and max-width:851px){
 
   .Introduction{
     width: 1435px;
     height: 800px;
     font-size: 90px;
     margin-left: 3%;
     margin-top: 31%;
     position: absolute;
     opacity: 0.75;
     overflow: hidden;
     z-index: 3;
     color: white;
     background: rgb(30,21,20); 
     background: rgba(0, 0, 0, 0.9);
   }
 } */
 
 /* @media screen and (max-width: 992px) {
   body {
     background-color: blue;
     color: white;
     z-index: 500;
   }
 } */
 
 /* On screens that are 600px wide or less, the background color is olive */
 /* @media only screen and (max-width: 768px) {
   background-color: olive;
 } */
 
 
 
 /* Media Queries: Tabled Portrait */
 /* @media screen and (max-width: 768px) {
   .HomePageLeft { width:100%; }
   .HomePageRight { width:100%; margin:0; border:none; }
 } */
 
 img { max-width: 100%; height: auto; }
 
 
 /* 
  @media (max-device-width:1200px) {
   .HomePageRight{
     display: none;
   }
 }  */
 
 
 /* @media (min-device-width:1200px) {
   .HomePageRight{
     display: flex;
   }
 }  */
 /* 
 @media (max-device-width:800px) {
   img[data-src-800px] {
       content: attr(data-src-800px, url);
   }
 } */
 
 
 
